main{
    height: 100vh;
} 
.main{

    width: 100%;
    height: 100%;
    background-color: #2A3040;
    color: white;
    overflow: auto;
}

.header{
    height: 50px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.header a:visited{
    color: white;
}

a .btn-registrar{
    padding: 5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border: 0.3px solid #ffffff62;
    border-radius: 1px;
    text-align: center;
}
.menu-mobile{

    width: 30px;
    height: 24px;
    background-image: url(../assets/menu.svg);
    cursor: pointer;
}

.menu__contener {
    background-color: #343e58;
    border-radius: 20px;
    box-shadow: 8px 10px #1f20224f;
    display: none;
    height: auto;
    position: absolute;
    right: 20px;
    top: 55px;
    text-align: center;
}

.menu__contener__lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu__contener__lista__item {
    cursor: pointer;
    height: 40px;
}

.menu__contener__lista__item a {
    color: #fff;
    text-decoration: none;
}

.menu__contener__lista__item:hover {
    background-color: #2A3040;
    border-radius: 10px;
    padding: 10px 20px;
    padding-top: 8px;
}

.menu__contener__lista__item:active {
    background-color: #2d3241;
    padding: 9px 19px;
}

.titulo{

    width: 100%;
    height: 160px;
}

.titulo h1{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
.titulo h1 span:first-child{

    margin-left: 28px;
}
.titulo h1 span:last-child{

    margin-left: 91px;
}

.conteudo{
    margin-left: 28px;
}
.conteudo ul li{
    
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
}

.busca {
    position: relative;
    max-width: 270px;
}
#busca {

    margin-top: 100px;
    width: 100%;
    height: 45px;
    background-color: #EFEFEF;
    border-radius: 50px;
    padding-left: 14px;

}
#busca::placeholder {

    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(32, 31, 31, 0.78);
}
.btn-busca {

    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../assets/lupa.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    bottom: 6px;
    right: 40px;
}

@media screen and (max-width: 480px) {
    .menu__contener {
        position: absolute;
        right: 10px;
        width: 35%;
    }

    .menu__contener__lista {
        height: 250px;
    }

    .menu__contener__lista__item {
        height: 30px;
        padding-top: 4px;
        width: auto;
    }

    .menu__contener__lista__item:hover {
        padding-top: 4px;
    }
}

@media screen and (max-width: 768px) {
    .menu__contener {
        width: 35%;
    }

    .menu__contener__lista {
        height: 250px;
    }

    .menu__contener__lista__item {
        padding-top: 10px;
    }

    .menu__contener__lista__item:hover {
        padding-top: 10px;
    }
}

@media screen and (min-width: 769px) {
    .menu__contener {
        width: 25%;
    }

    .menu__contener__lista {
        height: 300px;
    }

    .menu__contener__lista__item {
        padding-top: 8px;
        width: auto;
    }

    .main{
        position: relative;
    }
    .header{
        margin-top: 20px;
    }
    a .btn-registrar{
        font-size: 24px;
    }
    .titulo{
        width: auto;
        position: absolute;
        left: 45%;
        top: 0;
    }
    .conteudo{
        margin-top: 100px;
        margin-left: 90px;
        position: relative;
    }
    .conteudo ul{
        height: auto;
    }
    .conteudo ul li {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .busca{
        margin: 0 auto;
        max-width: 700px;
        
    }
    #busca{
        height: 75px;
    }
    #busca::placeholder {
        font-size: 24px;
    }
    .btn-busca{
        width: 42px;
        height: 42px;
        bottom: 18px;
    }
}

@media screen and (min-width: 1101px) {
    .menu__contener {
        width: 20%;
    }

    .menu__contener__lista {
        height: 300px;
    }

    .menu__contener__lista__item {
        padding-top: 8px;
        width: auto;
    }
} 