.vitrines-recentes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vitrines-recentes__titulo {
    margin: 2em 0em;
    padding: 25px;
    text-align: center;
}

.vitrines-recentes__titulo img {
    margin-bottom: 0.6em;
}

.vitrines-recentes__contener {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contener-scroll {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.vitrine-vazia {
    align-items: center;
    background-color: #8AA6A3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-evenly;
    width: 360px;
}

.vitrine-vazia--verde-escuro {
    align-items: center;
    background-color: #1C2D2F;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-evenly;
    width: 360px;
}

.vitrine-vazia--cinza {
    align-items: center;
    background-color: #737373;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-evenly;
    width: 360px;
}

.vitrine-vazia--scroll-snap button {
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    .vitrines-recentes__titulo img {
        height: 5px;
        width: 93%;
    }

    .vitrines-recentes__titulo h1 {
        font-size: 24px;
        font-weight: 300;
        line-height: 30.3px;
    }
}

@media screen and (max-width: 900px) {
    .contener-scroll::-webkit-scrollbar {
        visibility: hidden;
    }

    .vitrines-recentes__titulo img {
        height: 10px;
    }

    .vitrines-recentes__titulo h1 {
        font-size: 24px;
        font-weight: 400;
        line-height: 30.3px;
    }

    .contener-scroll {
        margin-left: 1em;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 95%;
    }

    .vitrine-vazia--scroll-snap {
        flex: none;
        margin-right: 1.2em;
        scroll-snap-align: start;
        width: 90%;
    }

    .vitrine-vazia {
        height: 500px;
        margin-left: 190%;
    }

    .vitrine-vazia--verde-escuro {
        height: 500px;
    }

    .vitrine-vazia--cinza {
        height: 500px;
    }
}

@media screen and (min-width: 901px) {
    .vitrine-vazia {
        height: 550px;
        width: 360px;
    }

    .vitrine-vazia--verde-escuro {
        height: 550px;
        width: 360px;
    }

    .vitrine-vazia--cinza {
        height: 550px;
        width: 360px;
    }
}